# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Virtualenv
.venv/

# pyenv
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Env files
.env
.env.*

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pyo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
